<%- include('partials/header'); -%>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compose</title>
  </head>
  <body>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="">
        <label for="postTitle">Title</label>
        <input class="form-control" type="text" name="postTitle" value="" placeholder="">

        <label for="postBody">Post</label>
        <textarea class="form-control" name="postBody" rows="8" cols="80"></textarea>
      </div>

      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
  </body>
</html>

<%- include('partials/footer'); -%>
